<template>
    <div>
        User List
        <!-- 面包屑导航 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">Front Page</el-breadcrumb-item>
            <el-breadcrumb-item>Right Management</el-breadcrumb-item>
            <el-breadcrumb-item>User List</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 用户列表主题 -->
        <!-- 卡片视图区 -->
        <el-card>
            <!-- 搜索区域 -->
            <!-- 卡片视图区 -->
            <el-row :gutter="25">
                <!-- 间隙 -->
                <el-col :span="10">
                    <!-- 列宽 -->
                    <!-- 搜索添加 -->
                    <el-input placeholder="Please enter what you want to search" v-model="queryInfo.query" clearable
                        @clear="getUserList">
                        <el-button slot="append" icon="el-icon-search" @click="getUserList"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="4">
                    <!-- 搜索按钮 -->
                    <el-button type="primary" @click="addDialogVisible = true">Add user</el-button>
                </el-col>
            </el-row>
            <!-- table -->
            <el-table :data="userList" border stripe>
                <el-table-column type="index"></el-table-column> <!--索引列-->
                <el-table-column label="Username" prop="username"></el-table-column>
                <el-table-column label="EMail" prop="email"></el-table-column>
                <el-table-column label="Password" prop="password"></el-table-column>
                <el-table-column label="Role" prop="role"></el-table-column>
                <el-table-column label="Status" prop="state">
                    <!--作用域插槽 scope.row 存储了当前行的信息 -->
                    <template slot-scope="scope"><!--数据模板-->
                        <el-switch v-model="scope.row.state" @change="userStateChanged(scope.row)"></el-switch>
                    </template>

                </el-table-column>
                <el-table-column label="Operation">
                    <template slot-scope="scope">
                        <!-- 修改 -->
                        <el-tooltip effect="dark" content="Edit User" placement="top-start" :enterable="false">
                            <el-button type="primary" icon="el-icon-edit" size="mini"
                                @click="showEditDialog(scope.row.id)"></el-button>
                        </el-tooltip>
                        <!-- 删除 -->
                        <el-tooltip effect="dark" content="Delete User" placement="top-start" :enterable="false">
                            <el-button type="danger" icon="el-icon-delete" size="mini"
                                @click="deleteUser(scope.row.id)"></el-button>
                        </el-tooltip>
                        <!-- 权限 -->
                        <el-tooltip effect="dark" content="Assign Permissions" placement="top-start"
                            :enterable="false"><!--文字提示 enterable 隐藏-->
                            <el-button type="warning" icon="el-icon-setting" size="mini"></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页组件 -->
            <!-- 分页 size-change 每页最大数变化 current-change 页数变化 layout 功能组件-->
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="queryInfo.pageNum" :page-sizes="[1, 2, 5, 100]" :page-size="queryInfo.pageSize"
                layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </el-card>

        <!-- generate new user -->
        <el-dialog title="add new user" :visible.sync="addDialogVisible" width="50%" @close="addDialogClosed">
            <el-form :model="addForm" :rules="addFormRules" ref="addFormRef" label-width="70px">
                <el-form-item label="Username" label-width="15%" prop="username">
                    <el-input v-model="addForm.username"></el-input>
                </el-form-item>
                <el-form-item label="Password" label-width="15%" prop="password">
                    <el-input v-model="addForm.password" type="password" show-password></el-input>
                </el-form-item>
                <el-form-item label="EMail" label-width="15%" prop="email">
                    <el-input v-model="addForm.email"></el-input>
                </el-form-item>
            </el-form>
            <!-- 底部内容取消确定按键 -->
            <span slot="footer" class="dialog-footer">
                <el-button @click="addDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addUser">Continue</el-button>
            </span>
        </el-dialog>

        <!-- 修改对话框 -->
        <el-dialog title="edit user" :visible.sync="editDialogVisible" width="50%" @close="editDialogClosed">
            <el-form :model="editForm" :rules="editFormRules" ref="editFormRef" label-width="70px">
                <el-form-item label="Username" label-width="15%" prop="username">
                    <el-input v-model="editForm.username" disabled></el-input>
                </el-form-item>
                <el-form-item label="Password" label-width="15%" prop="password">
                    <el-input v-model="editForm.password" type="password" show-password></el-input>
                </el-form-item>
                <el-form-item label="EMail" label-width="15%" prop="email">
                    <el-input v-model="editForm.email"></el-input>
                </el-form-item>
            </el-form>
            <!-- 底部内容取消确定按键 -->
            <span slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="editUserInfo">Continue</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
export default {
    created() {
        this.getUserList();
    },

    data() {
        return {
            //查询信息实体
            queryInfo: {
                query: "", //查询信息
                pageNum: 1,//当前页
                pageSize: 5,
            },
            userList: [],//用户列表
            total: 0, //总记录数
            addDialogVisible: false,
            addForm: {
                username: '',
                password: '',
                email: ''
            },
            //修改用户信息
            editForm: {
                //显示隐藏修改用户栏
                // username: '',
                // password: '',
                // email: ''
            },


            editDialogVisible: false,

            //表单验证
            addFormRules: {
                username: [
                    { required: true, message: 'Username is required', trigger: 'blur' },
                    { min: 5, max: 12, message: 'Username must be between 5 and 12 characters', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'Password is required', trigger: 'blur' },
                    { min: 6, max: 10, message: 'Password must be between 6 and 10 characters', trigger: 'blur' }
                ],
                email: [
                    { required: true, message: 'EMail is required', trigger: 'blur' },
                    { pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, message: 'Please enter in the right EMail address', trigger: 'blur' }
                ],
            },

            editFormRules: {
                password: [
                    { required: true, message: 'Password is required', trigger: 'blur' },
                    { min: 6, max: 10, message: 'Password must be between 6 and 10 characters', trigger: 'blur' }
                ],
                email: [
                    { required: true, message: 'EMail is required', trigger: 'blur' },
                    { pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, message: 'Please enter in the right EMail address', trigger: 'blur' }
                ],
            },

        }
    },
    methods: {
        //get all users
        async getUserList() {
            const { data: res } = await this.$http.get("alluser", { params: this.queryInfo });
            this.userList = res.data;//用户列表数据封装
            this.total = res.numbers;//总用户数字封装
        },
        //max number
        handleSizeChange(newSize) {
            this.queryInfo.pageSize = newSize;
            this.getUserList();
        },
        // page number trigger
        handleCurrentChange(newPage) {
            this.queryInfo.pageNum = newPage;
            this.getUserList();
        },

        async userStateChanged(userInfo) {
            const { data: res } = await this.$http.put(`userstate?id=${userInfo.id}&state=${userInfo.state}`);
            if (res != "success") {
                userInfo.id = !userInfo.id;
                return this.$message.error("failed to operate");
            }
            this.$message.success("success to change user state");
        },

        addDialogClosed() {
            this.$refs.addFormRef.resetFields();
        },

        addUser() {
            this.$refs.addFormRef.validate(async valid => {
                if (!valid) return;
                const { data: res } = await this.$http.post("adduser", this.addForm);
                if (res != "success") {
                    return this.$message.error("failed to operate");
                }
                this.$message.success("success to add user");
                this.addDialogVisible = false;
                this.getUserList();
            });
        },

        async deleteUser(id) {
            const confirmResult = await this.$confirm('This user will be deleted permanently', 'Warning', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).catch(err => err)
            if (confirmResult != 'confirm') {
                return this.$message.info("Delete action has been cancelled");
            }
            const { data: res } = await this.$http.delete("deleteuser?id=" + id);
            if (res != "success") {
                return this.$message.error("Failed to delete user");
            }
            this.$message.success("success to delete user");
            this.getUserList();
        },

        //显示对话框
        async showEditDialog(id) {
            const { data: res } = await this.$http.get("getupdate?id=" + id);
            this.editForm = res;//查询出用户信息填回表单
            this.editDialogVisible = true;

        },
        //关闭窗口
        editDialogClosed() {
            this.$refs.editFormRef.resetFields();

        },
        //确认修改
        editUserInfo() {
            this.$refs.editFormRef.validate(async valid => {
                if (!valid) return;
                //发起修改请求
                const { data: res } = await this.$http.put("edituser", this.editForm);
                if (res != "success") {
                    return this.$message.error("Failed to edit user");
                }
                this.$message.success("success to edit user");
                //隐藏修改对话框
                this.editDialogVisible = false;
                this.getUserList();
            })

        },
    }


}
</script>

<style lang="less" scoped>
/* 面包屑样式 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 17px;
}
</style>