<template>
    <div>
        Company List
        <!-- 面包屑导航 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">Main Page</el-breadcrumb-item>
            <el-breadcrumb-item>Company Management</el-breadcrumb-item>
            <el-breadcrumb-item>Company List</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 用户列表主题 -->
        <!-- 卡片视图区 -->
        <el-card>
            <!-- 搜索区域 -->
            <!-- 卡片视图区 -->
            <el-row :gutter="25">
                <!-- 间隙 -->
                <el-col :span="10">
                    <!-- 列宽 -->
                    <!-- 搜索添加 -->
                    <el-input placeholder="Please enter what you want to search" v-model="queryInfo.query" clearable
                        @clear="getCompanyList">
                        <el-button slot="append" icon="el-icon-search" @click="getCompanyList"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="4">
                    <!-- 搜索按钮 -->
                    <el-button type="primary" @click="addDialogVisible = true">Add company</el-button>
                </el-col>
              
            </el-row>
            <!-- table -->
            <el-table :data="companyList" border stripe :default-sort = "{prop: 'nextContactDate', order: 'descending'}">
                <el-table-column type="index"></el-table-column> <!--索引列-->
                <el-table-column label="Company Name" prop="companyName" sortable></el-table-column>
                <el-table-column label="NextContactDate" prop=nextContactDate :formatter="formatDate" sortable>

                </el-table-column>
                <!-- <el-table-column label="Password" prop="password"></el-table-column>
                <el-table-column label="Role" prop="role"></el-table-column> -->


                <el-table-column label="Operation">
                    <template slot-scope="scope">
                        <!-- 修改 -->
                        <el-tooltip effect="dark" content="Edit Company" placement="top-start" :enterable="false">
                            <el-button type="primary" icon="el-icon-edit" size="mini"
                                @click="showEditDialog(scope.row.id)"></el-button>
                        </el-tooltip>
                        <!-- 删除 -->
                        <el-tooltip effect="dark" content="Delete Company" placement="top-start" :enterable="false">
                            <el-button type="danger" icon="el-icon-delete" size="mini"
                                @click="deleteCompany(scope.row.id)"></el-button>
                        </el-tooltip>

                        <!-- <el-tooltip effect="dark" content="Add contact" placement="top-start" :enterable="false">
                            <el-button type="primary" icon="el-icon-s-custom" size="mini"
                            @click="addContactVisible = true"></el-button>
                        </el-tooltip> -->
                        <!-- 权限 -->
                        <el-tooltip effect="dark" content="More Infomation" placement="top-start"
                            :enterable="false"><!--文字提示 enterable 隐藏-->
                            <el-button type="warning" icon="el-icon-view" size="mini"
                                @click="showDetailedInfo(scope.row.id)"></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页组件 -->
            <!-- 分页 size-change 每页最大数变化 current-change 页数变化 layout 功能组件-->
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="queryInfo.pageNum" :page-sizes="[1, 2, 5, 100]" :page-size="queryInfo.pageSize"
                layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </el-card>

        <!-- generate new company -->
        <el-dialog title="add new company" :visible.sync="addDialogVisible" width="50%" @close="addDialogClosed">
            <el-form :model="addForm" :rules="addFormRules" ref="addFormRef" label-width="70px">
                <el-form-item label="company name" label-width="20%" prop="companyName">
                    <el-input v-model="addForm.companyName"></el-input>
                </el-form-item>
                <el-form-item label="source" label-width="20%" prop="sourceFrom">
                    <el-input v-model="addForm.sourceFrom"></el-input>
                </el-form-item>
                <el-form-item label="telephone" label-width="20%" prop="telephone">
                    <el-input v-model="addForm.telephone"></el-input>
                </el-form-item>
                <el-form-item label="EMail" label-width="20%" prop="email">
                    <el-input v-model="addForm.email"></el-input>
                </el-form-item>
                <el-form-item label="level" label-width="20%" prop="level">
                    <el-input v-model="addForm.level"></el-input>
                </el-form-item>
                <el-form-item label="date" label-width="20%" prop="nextContactDate">
                    <el-date-picker v-model="addForm.nextContactDate" type="date" placeholder="Choose a date">
                    </el-date-picker>
                </el-form-item>

            </el-form>
            <!-- 底部内容取消确定按键 -->
            <span slot="footer" class="dialog-footer">
                <el-button @click="addDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addCompany">Continue</el-button>
            </span>
        </el-dialog>

        <!-- generate new contact -->
        <!-- <el-dialog title="add contact" :visible.sync="addContactVisible" width="50%" @close="addContactClosed">
            <el-form :model="contactForm"  ref="contactFormRef" label-width="70px">
                <el-form-item label="company name" label-width="20%" prop="companyName">
                    <el-select v-model="contactForm.companyName" placeholder="Please choose company">
                        <el-option v-for="item in companyList" :key="item.id" :label="item.companyName" :value="item.companyName">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="date" label-width="20%" prop="nextContactDate">
                    <el-date-picker v-model="contactForm.nextContactDate" type="date" placeholder="Choose a date">
                    </el-date-picker>
                </el-form-item>

            </el-form> -->
            <!-- 底部内容取消确定按键 -->
            <!-- <span slot="footer" class="dialog-footer">
                <el-button @click="addContactVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addContact">Continue</el-button>
            </span>
        </el-dialog> -->

        <!-- <el-dialog title="edit company" :visible.sync="addContactVisible" width="50%" @close="editDialogClosed">
            <el-form :model="editForm" :rules="editFormRules" ref="editFormRef" label-width="70px">
                <el-form-item label="company name" label-width="20%" prop="companyName">
                    <el-select v-model="contactForm.companyName" placeholder="Please choose company">
                        <el-option v-for="item in companyList" :key="item.id" :label="item.companyName" :value="item.companyName">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="source" label-width="20%" prop="sourceFrom">
                    <el-input v-model="editForm.sourceFrom"></el-input>
                </el-form-item>
                <el-form-item label="telephone" label-width="20%" prop="telephone">
                    <el-input v-model="editForm.telephone"></el-input>
                </el-form-item>
                <el-form-item label="EMail" label-width="20%" prop="email">
                    <el-input v-model="editForm.email"></el-input>
                </el-form-item>
                <el-form-item label="level" label-width="20%" prop="level">
                    <el-input v-model="editForm.level"></el-input>
                </el-form-item>
                <el-form-item label="date" label-width="20%" prop="nextContactDate">
                    <el-date-picker v-model="contactForm.nextContactDate" type="date" placeholder="Choose a date">
                    </el-date-picker>
                </el-form-item> -->


            <!-- </el-form> -->
            <!-- 底部内容取消确定按键 -->
            <!-- <span slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="editCompanyInfo">Continue</el-button>
            </span>
        </el-dialog> -->

        <!-- 修改对话框 -->
        <el-dialog title="edit company" :visible.sync="editDialogVisible" width="50%" @close="editDialogClosed">
            <el-form :model="editForm" :rules="editFormRules" ref="editFormRef" label-width="70px">
                <el-form-item label="company name" label-width="20%" prop="companyName">
                    <el-input v-model="editForm.companyName" disabled></el-input>
                </el-form-item>
                <el-form-item label="source" label-width="20%" prop="sourceFrom">
                    <el-input v-model="editForm.sourceFrom"></el-input>
                </el-form-item>
                <el-form-item label="telephone" label-width="20%" prop="telephone">
                    <el-input v-model="editForm.telephone"></el-input>
                </el-form-item>
                <el-form-item label="EMail" label-width="20%" prop="email">
                    <el-input v-model="editForm.email"></el-input>
                </el-form-item>
                <el-form-item label="level" label-width="20%" prop="level">
                    <el-input v-model="editForm.level"></el-input>
                </el-form-item>
                <el-form-item label="date" label-width="20%" prop="nextContactDate">
                    <el-date-picker v-model="editForm.nextContactDate" type="date" placeholder="Choose a date">
                    </el-date-picker>
                </el-form-item>


            </el-form>
            <!-- 底部内容取消确定按键 -->
            <span slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="editCompanyInfo">Continue</el-button>
            </span>
        </el-dialog>

        <el-dialog title="detailed infomation" :visible.sync="detailedDialogVisible" width="50%" @close="detailedDialogClosed">
            <el-form :model="detailedForm"  ref="detailedFormRef" label-width="70px">
                <el-form-item label="company name" label-width="20%" prop="companyName">
                    <el-input v-model="detailedForm.companyName" disabled></el-input>
                </el-form-item>
                <el-form-item label="source" label-width="20%" prop="sourceFrom">
                    <el-input v-model="detailedForm.sourceFrom" disabled></el-input>
                </el-form-item>
                <el-form-item label="telephone" label-width="20%" prop="telephone">
                    <el-input v-model="detailedForm.telephone" disabled></el-input>
                </el-form-item>
                <el-form-item label="EMail" label-width="20%" prop="email">
                    <el-input v-model="detailedForm.email" disabled></el-input>
                </el-form-item>
                <el-form-item label="level" label-width="20%" prop="level">
                    <el-input v-model="detailedForm.level" disabled></el-input>
                </el-form-item>
                <el-form-item label="date" label-width="20%" prop="nextContactDate">
                    <el-date-picker v-model="detailedForm.nextContactDate" type="date" placeholder="Choose a date" disabled>
                    </el-date-picker>
                </el-form-item>


            </el-form>
         
        </el-dialog>
    </div>
</template>

<script>
export default {
    created() {
        this.getCompanyList();
    },

    data() {
        return {

            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
            },
            //查询信息实体
            queryInfo: {
                query: "", //查询信息
                pageNum: 1,//当前页
                pageSize: 5,
            },
            ContactFrom: {
                companyName: '',
                nextContactDate: '',
            },
            
            companyList: [],//用户列表
            total: 0, //总记录数
            addDialogVisible: false,
            addForm: {
                companyName: '',
                sourceFrom: '',
                telephone: '',
                email: '',
                level: '',
                nextContactDate: '',
            },
            contactForm: {
                companyName: '',
                nextContactDate: '',
            },
            //修改用户信息
            editForm: {},
            detailedForm: {},


            editDialogVisible: false,
            detailedDialogVisible: false,
            addContactVisible: false,

            //表单验证
            addFormRules: {
                companyName: [
                    { required: true, message: 'Company name is required', trigger: 'blur' },
                    { min: 2, max: 12, message: 'Company name must be between 5 and 12 characters', trigger: 'blur' }
                ],
                sourceFrom: [
                    { required: true, message: 'source from who is required', trigger: 'blur' },
                    { min: 2, max: 10, message: 'source must be between 2 and 10 characters', trigger: 'blur' }
                ],
                telephone: [
                    { required: true, message: 'telephone is required', trigger: 'blur' },
                    { pattern: /^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$/, message: 'Please enter in the right telephone number', trigger: 'blur' }
                ],
                email: [
                    { required: true, message: 'EMail is required', trigger: 'blur' },
                    { pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, message: 'Please enter in the right EMail address', trigger: 'blur' }
                ],
                level: [
                    { required: true, message: 'source from who is required', trigger: 'blur' },
                    { min: 1, max: 2, message: 'source must be between 1 and 2 numbers', trigger: 'blur' }
                ],
            },

            editFormRules: {
                sourceFrom: [
                    { required: true, message: 'source from who is required', trigger: 'blur' },
                    { min: 2, max: 10, message: 'source must be between 2 and 10 characters', trigger: 'blur' }
                ],
                telephone: [
                    { required: true, message: 'telephone is required', trigger: 'blur' },
                    { pattern: /^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$/, message: 'Please enter in the right telephone number', trigger: 'blur' }
                ],
                email: [
                    { required: true, message: 'EMail is required', trigger: 'blur' },
                    { pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, message: 'Please enter in the right EMail address', trigger: 'blur' }
                ],
                level: [
                    { required: true, message: 'source from who is required', trigger: 'blur' },
                    { min: 1, max: 2, message: 'source must be between 1 and 2 numbers', trigger: 'blur' }
                ],
            },
           

        }
    },
    methods: {

        formatDate(row, column) {
            // 获取单元格数据
            let data = row[column.property]
            if (data == null) {
                return null
            }
            let dt = new Date(data)
            return dt.getFullYear() + '-' + (dt.getMonth() + 1) + '-' + dt.getDate()
            //   + ' ' + dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds()
        },

        //get all companies
        async getCompanyList() {
            const { data: res } = await this.$http.get("allcompany", { params: this.queryInfo });
            this.companyList = res.data;//用户列表数据封装
            this.total = res.numbers;//总用户数字封装

        },
        //max number
        handleSizeChange(newSize) {
            this.queryInfo.pageSize = newSize;
            this.getCompanyList();
        },
        // page number trigger
        handleCurrentChange(newPage) {
            this.queryInfo.pageNum = newPage;
            this.getCompanyList();
        },


        addDialogClosed() {
            this.$refs.addFormRef.resetFields();
        },

        addCompany() {
            this.$refs.addFormRef.validate(async valid => {
                if (!valid) return;
                const { data: res } = await this.$http.post("addcompany", this.addForm);
                if (res != "success") {
                    return this.$message.error("failed to operate");
                }
                this.$message.success("success to add company");
                this.addDialogVisible = false;
                this.getCompanyList();
            });
        },
        addContact() {
            this.$refs.contactFormRef.validate(async valid => {
                if (!valid) return;
                const { data: res } = await this.$http.post("addcontact", this.contactForm);
                if (res != "success") {
                    return this.$message.error("failed to operate");
                }
                this.$message.success("success to add contact");
                this.addContactVisible = false;
                this.getCompanyList();
            });
        },

        async deleteCompany(id) {
            const confirmResult = await this.$confirm('This company will be deleted permanently', 'Warning', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).catch(err => err)
            if (confirmResult != 'confirm') {
                return this.$message.info("Delete action has been cancelled");
            }
            const { data: res } = await this.$http.delete("deletecompany?id=" + id);
            if (res != "success") {
                return this.$message.error("Failed to delete company");
            }
            this.$message.success("success to delete company");
            this.getCompanyList();
        },


        async showDetailedInfo(id) {
            const { data: res } = await this.$http.get("getcompanyupdate?id=" + id);
            this.detailedForm = res;//查询出用户信息填回表单
            this.detailedDialogVisible = true;
        },

        //显示对话框
        async showEditDialog(id) {
            const { data: res } = await this.$http.get("getcompanyupdate?id=" + id);
            this.editForm = res;//查询出用户信息填回表单
            this.editDialogVisible = true;

        },
        //关闭窗口
        editDialogClosed() {
            this.$refs.editFormRef.resetFields();

        },

        detailedDialogClosed() {
            this.$refs.detailedFormRef.resetFields();

        },

        // addContactClosed() {
        //     this.$refs.contactFormRef.resetFields();
        // },
        //确认修改
        editCompanyInfo() {
            this.$refs.editFormRef.validate(async valid => {
                if (!valid) return;
                //发起修改请求
                const { data: res } = await this.$http.put("editcompany", this.editForm);
                if (res != "success") {
                    return this.$message.error("Failed to edit company");
                }
                this.$message.success("success to edit company");
                //隐藏修改对话框
                this.editDialogVisible = false;
                this.getCompanyList();
            })

        },


    }


}
</script>

<style lang="less" scoped>
/* 面包屑样式 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 17px;
}
</style>