<template>

    <el-container class="home-container">
        <el-header>
            <div>
                <img src="../assets/home_logo.png" alt />
                <span>
                    Management Platform
                </span>
            </div>

            <el-button type="info" @click="logout">Safe exit</el-button>
        </el-header>

        <el-container>
            <el-aside :width="isCollapse ? '64px' : '200px'">
                <div class="toggle-button" @click="toggleCollapse">|||</div>

                <el-menu background-color="#545c64" text-color="#fff" active-text-color="#409eff" unique-opened
                    :collapse="isCollapse" :collapse-transition="false" :router="true" :default-active="activePath">

                    <!-- level 1 menu -->
                    <el-submenu :index="item.id + ''" v-for="item in menuList" :key="item.id">
                        <template slot="title">
                            <i :class="iconsObject[item.id]"></i>
                            <span>{{ item.title }}</span>
                        </template>
                        <!-- level 2 menu -->
                        <el-menu-item :index="it.path" v-for="it in item.sList" :key="it.id" @click="saveNavState(it.path)">
                            <template slot="title">
                                <i :class="iconsObject[it.id]"></i>
                                <span>{{ it.title }}</span>
                            </template>
                        </el-menu-item>

                    </el-submenu>

                </el-menu>
            </el-aside>
            <!-- main body -->
            <el-main>
                <router-view></router-view>
            </el-main>

        </el-container>
    </el-container>



</template>

<script>
export default {
    data() {
        return {
            // menu list
            menuList: [],
            isCollapse: false,//伸缩
            iconsObject: {
                '100': 'el-icon-s-custom',
                '200': 'el-icon-s-custom',
                '101': 'el-icon-s-custom',
                '102': 'el-icon-s-custom',
                '103': 'el-icon-s-custom',
                '104': 'el-icon-s-custom',
                '201': 'el-icon-s-custom',
                '202': 'el-icon-s-custom',
                '203': 'el-icon-s-custom',
                '204': 'el-icon-s-custom',
            },
            activePath: '/welcome',//default path
        }
    },
    //on load
    created() {
        //search menu list
        this.getMenuList();
        this.activePath = window.sessionStorage.getItem('activePath');//去除session的path 动态修改为activepath
    },
    methods: {
        logout() {
            window.sessionStorage.clear();//clear session
            this.$router.push("/login");// back to login
        },
        // get nevigation menu
        async getMenuList() {
            const { data: res } = await this.$http.get("menus");

            if (res.flag != 200) {
                return this.$message.error("Failed to get menu list");
            }
            this.menuList = res.menus;
            
        },
        //控制伸缩
        toggleCollapse() {
            this.isCollapse = !this.isCollapse;
        },
        //save the path
        saveNavState(activePath){
            window.sessionStorage.setItem('activePath', activePath);//存放在session中
            this.activePath = activePath;
        },
    }
}
</script>

<style lang = 'less' scoped>
.home-container {
    height: 100%;
}

.el-header {
    background-color: #373d41;
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
    align-items: center;
    color: #fff;
    font-size: 20px;

    >div {
        display: flex;
        align-items: center;

        span {
            margin-left: 15px;
        }
    }

}

.el-aside {
    background-color: #333744;

    .el-menu {
        border-right: none;
    }
}

.el-main {
    background-color: #eaedf1;
}

img {
    width: 55px;
    height: 55px;
}

//button sytle
.toggle-button {
    background-color: #4A5064;
    font-size: 10px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2em;
    cursor: pointer; // 显示鼠标指针为：小手
}
</style>