<template>
    <div class="login_container">
        <!-- login block -->
        <div class="login_box">
            <!-- login icon -->
            <div class="avatar_box">
                <img src="../assets/logo.png" alt />
            </div>
            <!-- login form -->
            <el-form ref="loginFormRef" :rules="loginRules" :model="loginForm" class="login_form" label-width="0">
                <!-- username -->
                <el-form-item prop = "username">
                    <el-input v-model="loginForm.username" prefix-icon="el-icon-s-custom"></el-input>
                </el-form-item>
                <!-- passwd -->
                <el-form-item prop = "password">
                    <el-input v-model="loginForm.password" prefix-icon="el-icon-lock" type = "password" show-password></el-input>
                </el-form-item>
                <!-- button -->
                <el-form-item class="btns">
                    <el-button type="primary" @click="login">Sign in</el-button>
                    <el-button type="info" @click = "resetLoginForm">Reset</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            //data
            loginForm: {
                username: "admin",
                password: "123456"
            },
            //check data
            loginRules: {
                username: [
                    { required: true, message: 'Username is required', trigger: 'blur' },
                    { min: 5, max: 12, message: 'Username must be between 5 and 12 characters', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'Password is required', trigger: 'blur' },
                    { min: 6, max: 10, message: 'Password must be between 6 and 10 characters', trigger: 'blur' }
                ],
            },

        };
    },
    methods: {
        //reset login form
        resetLoginForm(){
            this.$refs.loginFormRef.resetFields();
        },
        login(){
            // test login rules
            this.$refs.loginFormRef.validate(async valid => {
                if(!valid) return;// test failed
                const {data:res} = await this.$http.post("login",this.loginForm);// visit loginpage
                if(res.flag == "ok"){
                    this.$message.success("Successfully logged");
                    window.sessionStorage.setItem("user", res.user); //store user
                    this.$router.push({path: "/home"}) //router to homepage
                }else{
                    this.$message.error("Failed to login");
                }
            })
        },
    },
}
</script>
<style lang="less" scoped>
.login_container {
    background-color: #2b4b6b;
    height: 100%;
}

.login_box {
    width: 450px;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .avatar_box {
        width: 130px;
        height: 130px;
        border: 1px solid #eee;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0 0 2px #ddd;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #0ee;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #eee;
        }
    }
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.login_form {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
</style>