<template>
    <div>
        Order List
        <!-- 面包屑导航 -->
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">Front Page</el-breadcrumb-item>
            <el-breadcrumb-item>Right Management</el-breadcrumb-item>
            <el-breadcrumb-item>Order List</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 用户列表主题 -->
        <!-- 卡片视图区 -->
        <el-card>
            <!-- 搜索区域 -->
            <!-- 卡片视图区 -->
            <el-row :gutter="25">
                <!-- 间隙 -->
                <el-col :span="10">
                    <!-- 列宽 -->
                    <!-- 搜索添加 -->
                    <el-input placeholder="Please enter what you want to search" v-model="queryInfo.query" clearable
                        @clear="getOrderList">
                        <el-button slot="append" icon="el-icon-search" @click="getOrderList"></el-button>
                    </el-input>
                </el-col>
                <el-col :span="4">
                    <!-- 搜索按钮 -->
                    <el-button type="primary" @click="addDialogVisible = true">Add Order</el-button>
                </el-col>
            </el-row>
            <!-- table -->
            <el-table :data="orderList" border stripe>
                <el-table-column type="index"></el-table-column> <!--索引列-->
                <el-table-column label="product" prop="product"></el-table-column>
                <el-table-column label="number" prop="productNum"></el-table-column>
                <el-table-column label="company" prop="company"></el-table-column>
                <el-table-column label="date" prop="date" :formatter="formatDate" sortable></el-table-column>
                
                <el-table-column label="Operation">
                    <template slot-scope="scope">
                        <!-- 修改 -->
                        <el-tooltip effect="dark" content="Edit Order" placement="top-start" :enterable="false">
                            <el-button type="primary" icon="el-icon-edit" size="mini"
                                @click="showEditDialog(scope.row.id)"></el-button>
                        </el-tooltip>
                        <!-- 删除 -->
                        <el-tooltip effect="dark" content="Delete Order" placement="top-start" :enterable="false">
                            <el-button type="danger" icon="el-icon-delete" size="mini"
                                @click="deleteOrder(scope.row.id)"></el-button>
                        </el-tooltip>
                        <!-- 权限 -->
                        <el-tooltip effect="dark" content="Assign Permissions" placement="top-start"
                            :enterable="false"><!--文字提示 enterable 隐藏-->
                            <el-button type="warning" icon="el-icon-setting" size="mini"></el-button>
                        </el-tooltip>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页组件 -->
            <!-- 分页 size-change 每页最大数变化 current-change 页数变化 layout 功能组件-->
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="queryInfo.pageNum" :page-sizes="[1, 2, 5, 100]" :page-size="queryInfo.pageSize"
                layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </el-card>

        <!-- generate new order -->
        <el-dialog title="add new order" :visible.sync="addDialogVisible" width="50%" @close="addDialogClosed">
            <el-form :model="addForm" ref="addFormRef" label-width="70px">
                <el-form-item label="product name" label-width="20%" prop="product">
                    <el-input v-model="addForm.product"></el-input>
                </el-form-item>
                <el-form-item label="product number" label-width="20%" prop="productNum">
                    <el-input v-model="addForm.productNum"></el-input>
                </el-form-item>
                <el-form-item label="company" label-width="20%" prop="company">
                    <el-input v-model="addForm.company"></el-input>
                </el-form-item>

            </el-form>
            <!-- 底部内容取消确定按键 -->
            <span slot="footer" class="dialog-footer">
                <el-button @click="addDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addOrder">Continue</el-button>
            </span>
        </el-dialog>

        <!-- 修改对话框 -->
        <el-dialog title="edit order" :visible.sync="editDialogVisible" width="50%" @close="editDialogClosed">
            <el-form :model="editForm" ref="editFormRef" label-width="70px">
                <el-form-item label="product name" label-width="20%" prop="product">
                    <el-input v-model="editForm.product"></el-input>
                </el-form-item>
                <el-form-item label="productNum" label-width="20%" prop="productNum">
                    <el-input v-model="editForm.productNum"></el-input>
                </el-form-item>
                <el-form-item label="company" label-width="20%" prop="company">
                    <el-input v-model="editForm.company"></el-input>
                </el-form-item>
                
            </el-form>
            <!-- 底部内容取消确定按键 -->
            <span slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="editOrderInfo">Continue</el-button>
            </span>
        </el-dialog>

    </div>
</template>

<script>
export default {
    created() {
        this.getOrderList();
    },

    data() {
        return {
            //查询信息实体
            queryInfo: {
                query: "", //查询信息
                pageNum: 1,//当前页
                pageSize: 5,
            },
            orderList: [],//用户列表
            total: 0, //总记录数
            addDialogVisible: false,
            addForm: {
                product: '',
                productNum: '',
                company: ''
            },
            //修改用户信息
            editForm: {
                //显示隐藏修改用户栏
                // username: '',
                // password: '',
                // email: ''
            },


            editDialogVisible: false,

            //表单验证
            // addFormRules: {
            //     username: [
            //         { required: true, message: 'Username is required', trigger: 'blur' },
            //         { min: 5, max: 12, message: 'Username must be between 5 and 12 characters', trigger: 'blur' }
            //     ],
            //     password: [
            //         { required: true, message: 'Password is required', trigger: 'blur' },
            //         { min: 6, max: 10, message: 'Password must be between 6 and 10 characters', trigger: 'blur' }
            //     ],
            //     email: [
            //         { required: true, message: 'EMail is required', trigger: 'blur' },
            //         { pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, message: 'Please enter in the right EMail address', trigger: 'blur' }
            //     ],
            // },

            // editFormRules: {
            //     password: [
            //         { required: true, message: 'Password is required', trigger: 'blur' },
            //         { min: 6, max: 10, message: 'Password must be between 6 and 10 characters', trigger: 'blur' }
            //     ],
            //     email: [
            //         { required: true, message: 'EMail is required', trigger: 'blur' },
            //         { pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, message: 'Please enter in the right EMail address', trigger: 'blur' }
            //     ],
            // },

        }
    },
    methods: {

        formatDate(row, column) {
            // 获取单元格数据
            let data = row[column.property]
            if (data == null) {
                return null
            }
            let dt = new Date(data)
            return dt.getFullYear() + '-' + (dt.getMonth() + 1) + '-' + dt.getDate()
               + ' ' + dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds()
        },

        //get all orders
        async getOrderList() {
            const { data: res } = await this.$http.get("allorder", { params: this.queryInfo });
            this.orderList = res.data;//用户列表数据封装
            this.total = res.numbers;//总用户数字封装
        },
        //max number
        handleSizeChange(newSize) {
            this.queryInfo.pageSize = newSize;
            this.getOrderList();
        },
        // page number trigger
        handleCurrentChange(newPage) {
            this.queryInfo.pageNum = newPage;
            this.getOrderList();
        },

        addDialogClosed() {
            this.$refs.addFormRef.resetFields();
        },

        addOrder() {
            this.$refs.addFormRef.validate(async valid => {
                if (!valid) return;
                const { data: res } = await this.$http.post("addorder", this.addForm);
                if (res != "success") {
                    return this.$message.error("failed to operate");
                }
                this.$message.success("success to add user");
                this.addDialogVisible = false;
                this.getOrderList();
            });
            
        },

        async deleteUser(id) {
            const confirmResult = await this.$confirm('This user will be deleted permanently', 'Warning', {
                confirmButtonText: 'Continue',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).catch(err => err)
            if (confirmResult != 'confirm') {
                return this.$message.info("Delete action has been cancelled");
            }
            const { data: res } = await this.$http.delete("deleteuser?id=" + id);
            if (res != "success") {
                return this.$message.error("Failed to delete user");
            }
            this.$message.success("success to delete user");
            this.getUserList();
        },

        //显示对话框
        async showEditDialog(id) {
            const { data: res } = await this.$http.get("getorderupdate?id=" + id);
            this.editForm = res;//查询出用户信息填回表单
            this.editDialogVisible = true;

        },
        //关闭窗口
        editDialogClosed() {
            this.$refs.editFormRef.resetFields();

        },
        //确认修改
        editOrderInfo() {
            this.$refs.editFormRef.validate(async valid => {
                if (!valid) return;
                //发起修改请求
                const { data: res } = await this.$http.put("editorder", this.editForm);
                if (res != "success") {
                    return this.$message.error("Failed to edit order");
                }
                this.$message.success("success to edit order");
                //隐藏修改对话框
                this.editDialogVisible = false;
                this.getOrderList();
            })

        },
    }


}
</script>

<style lang="less" scoped>
/* 面包屑样式 */
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 17px;
}
</style>