<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
// import { RouterView } from 'vue-router';
// import router from './router';


</script>

<style>

</style>
